.bounceUp {
    animation: bounceUp 2s ease;
}

@keyframes bounceUp {
    0% {
        transform: translateY(96px);
    }

    40% {
        transform: translateY(-30px);
    }

    40% {
        transform: translateY(-15px);
    }
}

.bounceUpDownDragon {
    animation: bounceUpDownDragon 2.5s ease;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes bounceUpDownDragon {
    0% {
        transform: translate(-77px, 200px);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: translate(-77px, 6px);
        opacity: 1;
    }
}

.bounceUpDownDuck {
    animation: bounceUpDownDuck 2.5s ease;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes bounceUpDownDuck {
    0% {
        transform: translate(70px, 200px);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    50% {
        transform: translate(70px, -55px);
    }

    100% {
        transform: translate(70px, -10px);
        opacity: 1;
    }
}

.bounceUpDownDino {
    animation: bounceUpDownDino 2s ease;
}

@keyframes bounceUpDownDino {
    0% {
        transform: translateY(200px);
    }

    58% {
        transform: translateY(-15px);
    }
}

.rotate-in-down-left {
    animation: rotate-in-down-left 2s ease forwards;
}

@keyframes rotate-in-down-left {
    0% {
        transform-origin: left middle;
        opacity: 0;
        transform: translateY(96px), rotate(0deg);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform-origin: left middle;
        opacity: 1;
        transform: translateY(0px), rotate(-3deg);
    }
}

.slide-out-up {
    position: relative;
    animation-name: slideOutUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes slideOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.bounce {
    animation: bounceAnimation 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes bounceAnimation {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.1);
    }
}